* {
    margin: 0;
    color: var(--blanco);
    padding: 0;
    box-sizing: border-box;
}

:root {
    --amarillo: #FBEA0B;
    --negro:#000;
    --blanco: #fff;
}

.cuerpo {
    background-color: var(--negro);
}

.menu {
    background-color: var(--negro);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.enlaces {
    color: var(--amarillo);
    font-size: 20px;
    text-decoration: none;
}

.logo {
    width: 400px;
}

.imagenes {
    max-width: 100%;
    height: 350px;
}

.parrafo {
    font-size: 1.3rem;
    line-height: 1.5em;
}

.elemento {
    margin: 10px;
    border: 1px solid var(--amarillo);
    padding: 10px;
    width: calc((100vw/4) - 3vw);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.contenedor2 {
    width: calc(100% - 80px);
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--amarillo);
}

.icono {
    background-color: var(--negro);
    width: 100px;
    color: var(--amarillo);
    font-size: 50px;
    border-radius: 50px;
    text-align: center;
}

.pie_pagina {
    display: flex;
    justify-content: center;
}

.contactos {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}
